.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: larger;
    margin-bottom: 30px;
    border-radius: 30px;
    box-shadow: rgba(19, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    background-color: #EFEFEF;
    padding: 10px 20px;
    flex-wrap: wrap;
}

.navElements {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.navElements2 {
    flex: 1;
    text-align: center;
    font-size: 1.2rem;
}

.navConnectButton {
    display: flex;
    justify-content: flex-end;
}

li {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 10px;
}

a {
    text-decoration: none;
    color: gray;
}

img {
    width: 100px;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        text-align: center;
    }

    .navElements2 {
        margin: 10px 0;
    }

    .navConnectButton {
        justify-content: center;
    }
}
