.anonimg {
  display: flex;
  justify-content: space-betwee;
}
.anon {
  margin: auto;
  margin-top: 10rem;
  width: 300px;
  height: 300px;
  background-color: rgb(32, 32, 33);
  border-radius: 50%;
  display: block; /* Ensures the image fills its container */
  transition: transform 1s ease-in-out; /* Smooth transition for animations */
  /* transform: translate(-50%, -50%); */
  transform-style: preserve-3d; /* Enables 3D transformations */
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
/*@keyframes spin {
    from { transform: rotate3d(0, 1, 0, 0deg); }
    to { transform: rotate3d(0, 1, 0, 360deg); }
  }*/
  @keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  
  
.anon {
    animation: spin 10s infinite linear;  /* Animation properties */
  }
.button-login {
  height: fit-content;
  width: fit-content;
}

.largeFont{

  font-size: 30px;
}

button {
  height: fit-content;
  width: fit-content;
  padding: 10px 12px;
  border-radius: 30px;
  background-color: cadetblue;
  border: none;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-around;
  gap: 15px;

}
#log {
  width: 30px;
  height: 30px;
  margin-top: 5px;
  background-color: cadetblue;
}
.login {
  margin-top: 15rem;
}













h2{
  background-color: transparent;
}

.c {
  min-width: 700px;
  width: 1000px;
  height: 580px;
  border-radius: 12px;
  padding: 20px;
  padding-bottom: 40px;
  box-shadow: 0 8px 48px 2px hsla(10 6% 15% / .4);

  display: flex;
  align-items: flex-end;
  justify-content: center;

  position: relative;
  overflow: hidden;
  background: hsl(0 0% 90%);

  box-sizing: border-box;
}

.ci {
  position: absolute;
  top: 0;
  left: 0;

  width: inherit;
  height: inherit;
  transform-origin: left 50%;

  background: inherit;

  z-index: var(--z);
  transition: .3s ease-out;
}

.ci img {
  -moz-user-select: none;
  user-select: none;
}

.ch {
  position: absolute;
  top: 70%;
  left: 4%;
  transform: translateY(-50%);

  font-size: 2rem;
  color: hsla(var(--h) var(--s) var(--l) / .8);
  text-shadow: 0 2px 10px hsla(var(--h) var(--s) 10% / .3);
}


.c img{
  width: 100%;
  height: 100%;
}

input {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  z-index: -10;
}

label {
  width: 100px;
  height: 10px;
  /* margin-right: 1px; */
  border-radius: 20px;
  margin-right: 1px;
  margin-left: 0px;
  background: hsla(0 0% 90% / .3);
  cursor: pointer;

  position: relative;
  z-index: 10;
}

label:last-child {
  margin-right: 0;
}

input:checked+label {
  background: linear-gradient(to right,
    hsla(var(--hue) 80% 70% / .7),
    hsla(calc(var(--hue) + 30) 80% 50% / .7));
}

input:not(:checked)+label+.ci {
  transform: translateX(-100%);
  opacity: 0;
}

input:checked+label+.ci~.ci {
  transform: translateX(100%);
}

input:not(:checked)+label+.ci {
  transition: 0;
}


/* ABS */
/* ========================================================================== */
.abs-site-link {
  position: fixed;
  z-index: 11;
  bottom: 20px;
  left: 20px;
  color: hsla(32 50% 50% / .8);
  font-size: 1.6rem;
  font-weight: bold;
  border-bottom: 3px solid currentColor;
  text-decoration: none;
  background-color: inherit;
}

.abs-profiles {
  position: fixed;
  z-index: 10;
  right: 20px;
  bottom: 23px;
  opacity: .8;
}

.abs-profiles img {
  filter: hue-rotate(71deg) brightness(1.1);
}

.abs-profiles a {
  display: inline-block;
  margin-left: 6px;
}