.heroContainer {
  display: flex;
  gap: 50px;
  height: auto;    
  background: url("/bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.left {
  display: flex;
  flex-direction: column;
  height: 500px;
  margin-top: 50px;
  gap: 20px;
}

.lcont {
  align-items: center;
  padding: 0px 20px 0 50px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  height: 500px;
  background: transparent; /* Set background to transparent */
  box-shadow: none; /* Remove box shadow */
}

.left p {
  font-size: 1.5rem; /* Use rem units for scalability */
  color: #FFF;
}

.left span {
  height: 120px;
  display: flex;
  justify-content: start;
}

p {
  font-size: 1rem; /* Use rem units for scalability */
}

.right img {
  margin-right: 20px; /* Move the image to the right */
  margin-top: 50px;
  opacity: 0.8;
}

@media (max-width: 671px) {
  .heroContainer {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
  }
}

@media (min-width: 671px) {
  p {
     font-size: 0.875rem; /* Use rem units for scalability */
  }
}

/* Additional CSS, if needed */
.ag-format-container {
  display: flex;
  flex-direction: column;
  height: 500px;
  gap: 20px;
}

.ag-courses_box {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 50px 0;
}

.ag-courses_item {
  flex-basis: calc(100% - 30px);
  margin: 0 15px 30px;
  overflow: hidden;
  border-radius: 28px;
}

.ag-courses-item_link {
  display: flex;
  flex-direction: column;
  height: auto;
  gap: 20px;
  padding: 30px 20px;
  background-color: #a39a9a;
  overflow: hidden;
  position: relative;
}

.ag-courses-item_title {
  min-height: 87px;
  margin: 0 0 25px;
  font-weight: bold;
  font-size: 1.875rem; /* Use rem units for scalability */
  color: #FFF;
  position: relative;
}

.ag-courses-item_date-box {
  font-size: 1.5625rem; /* Use rem units for scalability */
  color: #FFF;
  height: 220px;
  background-color: #a39a9a;
}

.ag-courses-item_date {
  font-weight: bold;
  color: #f9b234;
  transition: color .5s ease;
}

.ag-courses-item_bg {
  height: 128px;
  width: 128px;
  background-color: #f9b234;
  position: absolute;
  top: -75px;
  right: -75px;
  border-radius: 50%;
  transition: all .5s ease;
}

.ag-courses_item:nth-child(2n) .ag-courses-item_bg {
  background-color: #3ecd5e;
}

.ag-courses_item:nth-child(3n) .ag-courses-item_bg {
  background-color: #e44002;
}

.ag-courses_item:nth-child(4n) .ag-courses-item_bg {
  background-color: #952aff;
}

.ag-courses_item:nth-child(5n) .ag-courses-item_bg {
  background-color: #cd3e94;
}

.ag-courses_item:nth-child(6n) .ag-courses-item_bg {
  background-color: #4c49ea;
}

@media only screen and (max-width: 979px) {
  .ag-courses_item {
      flex-basis: calc(50% - 30px);
  }
  .ag-courses-item_title {
      font-size: 1.5rem; /* Use rem units for scalability */
  }
}

@media only screen and (max-width: 767px) {
  .ag-format-container {
      width: 96%;
  }
}

@media only screen and (max-width: 639px) {
  .ag-courses_item {
      flex-basis: 100%;
  }
  .ag-courses-item_title {
      min-height: 72px;
      font-size: 1.5rem; /* Use rem units for scalability */
  }
  .ag-courses-item_link {
      padding: 22px 40px;
  }
  .ag-courses-item_date-box {
      font-size: 1rem; /* Use rem units for scalability */
  }
}
